body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: url('../images/bleu_body.jpg');
  background-color: rgb(5, 5, 18);
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: cover;
  color: snow;
  font-size: 0.85rem;
}
main {
  flex: 1;
}

a, a:hover {
  text-decoration: none;
}
.navbar-brand{
  line-height: 2rem;
}
nav i, nav a, footer i, h3{
  color: darkorange;
}
.bg-warning{
  background-color: darkorange!important;
}
input.form-control{
  display: block;
  width: 2rem;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 0.85rem !important;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: whitesmoke;
  background-clip: padding-box;
  border: 1px solid darkorange;
  border-radius: 0;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
input.form-control:hover{
  border: 1px solid blue;
}
.form-inline, nav button, .btn {
  font-size: 0.85rem !important;
  border-radius: 0;
}
nav button, .btn{
  border: 1px solid darkorange;
}
nav button:hover, .btn:hover{
  border: 1px solid blue;
}
h4{
  color: #656f87;
}
main ul {
  list-style: none;
}
main ul li::before {
  content: "\2022";
  color: darkorange;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

figure {
  border: 1px solid whitesmoke;
}
figcaption{
  font-size: 0.5rem;
  background-color: #0a0a0a;
  text-align: right;
  color: darkgrey;
  margin-top: -0.75rem;
  padding-bottom: 0.25rem;
  padding-right: 0.5rem;
}
.article-author-img {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.1rem;
  margin-right: 0.25rem;
  border: 1px solid whitesmoke ;
}
.article-img{
  height: 150px;
  width: 150px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.share-icons i {
  font-size: 1.5em;
}

.comment-img {
  width: 50px;
  height: auto;
  border: 1px solid darkgray;
}

.commenter-name {
  font-weight: bold;
}

.comment-form {
  min-width: 500px;
}



figcaption {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  background: transparent;
}

ul{
  padding-left: 0;
  margin:0;
}

@media (max-width: 767px) {
  .comment-form {
    min-width: 260px;
    padding: 0.05rem;
    margin-top: 0.25rem;
  }
}

footer, .navbar {
  width: 100%;
  background-color: rgb(30, 30, 40);
  color: white;
}
.color {
  color: darkorange;
}
footer .color{
  font-size: 1rem;
}

/* HOMEPAGE */

a h3 {
  color: whitesmoke;
}
.color2{
  color: blue;
}

/* TABLE */
th{
  background-color: rgba(255,140,0,0.75);
  color: #0a0a0a;
}
.table-dark{
  color: whitesmoke;
  background-color: rgba(79, 85, 107, 0.33);
}
table.table-bordered > thead > tr > th{
  border:1px solid rgba(200, 200, 200, 0.75);
}
.table-dark td {
  border-color: rgba(200, 200, 200, 0.75);
}

/* comment manager page */
.underline_magic {
  background-image: linear-gradient(120deg, rgba(0,0,255,0.33) 10%, darkorange  100%);
  background-repeat: no-repeat;
  background-size: 100% 0.05em;
  background-position: 0 100%;
  transition: background-size 0.25s ease-in;
}
.underline_magic:hover {
   background-size: 100% 90%;
 }
.no-space {
  padding-right: 2px;
  padding-left: 2px;
}
.btn-outline-secondary{
  color: whitesmoke;
}





