body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-position-x: center;
  background-position-y: top;
  background: rgb(5, 5, 18) url('../images/bleu_body.jpg') no-repeat scroll;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: cover;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  font-size: 0.85rem;
}
main {
  flex: 1;
}

.alert-danger{
  background: red;
  color: whitesmoke;
}
.alert{
  text-transform: uppercase;
  border: 2px solid whitesmoke;
  border-radius: unset;
  padding: 0.75rem 0.85rem;
}
.alert-success{
  background-color: #3ab3b4;
  color: whitesmoke;
}
.flash-notice{
  background-color: red;
  color: whitesmoke;
  text-transform: uppercase;
  border: 2px solid whitesmoke;
  border-radius: unset;
  padding: 0.75rem 0.85rem;
}
a, a:hover {
  text-decoration: none;
}
.transform:hover, a:hover{
  color:rgb(65, 197, 255);
  transform: scale(1.15);
}
.navbar-brand{
  line-height: 2rem;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 140, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-light:hover .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(65, 197, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
nav i, nav a, footer i, h3, .page-link, .dropdown-item, .language{
  color: darkorange;
}
.nav-link{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.dropdown-item:hover{
  color: rgb(65, 197, 255);
}
.btn{
  padding: 0.55rem 0.8rem 0.35rem 0.8rem;
}
.btn-dark.dropdown-toggle{
  color: darkorange;
}
.btn.btn-lg {
  padding: 1rem 2rem 0.6rem 2rem;
}
.show > .btn-dark.dropdown-toggle{
  color: rgb(65, 197, 255)!important;
}
.bg-warning, .badge-secondary{
  background-color: darkorange!important;
}
.dropdown-menu{
  background-color: whitesmoke;
  border-radius: unset;
  left: -4.25rem;
  min-width: 5rem;
  border: 1px solid rgb(65, 197, 255);
}
nav form input.form-control{
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 0.85rem !important;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: whitesmoke;
  background-clip: padding-box;
  border: 2px solid black;
  border-bottom: 1.5px solid darkorange;
  border-right: 1.5px solid darkorange;
  border-radius: 0.1rem;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
nav form input.form-control:hover{
  border-bottom: 1px solid rgb(65, 197, 255);
  border-right: 1px solid rgb(65, 197, 255);
}
.form-inline, nav button, .btn {
  font-size: 0.85rem !important;
  border-radius: 0;
}
nav button, .btn{
  border-bottom: 3px solid black;
  background-image: linear-gradient(rgba(175, 175, 175, 1) 5%, #343a40 20%, rgba(26, 27, 32, 1) 98%);
  border-radius: 0.15rem;
}
nav button:hover, .btn:hover, i:hover {
  color: rgb(65, 197, 255);
}
.btn-dark.dropdown-toggle:hover{
  color: rgb(65, 197, 255);
}
h4{
  color: #656f87;
}
main ul {
  list-style: none;
}
main ul li::before {
  content: "\2022";
  color: darkorange;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

figure {
  border: 1px solid whitesmoke;
}
figcaption{
  font-size: 0.5rem;
  background-color: #0a0a0a;
  text-align: right;
  color: darkgrey;
  margin-top: -0.75rem;
  padding-bottom: 0.25rem;
  padding-right: 0.5rem;
}
.article-author-img {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.1rem;
  margin-right: 0.25rem;
  border: 1px solid whitesmoke ;
}
.article-img{
  height: 150px;
  width: 150px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.share-icons i {
  font-size: 1.5em;
}

.comment-img {
  width: 50px;
  height: auto;
  border: 1px solid darkgray;
}

.commenter-name {
  font-weight: bold;
}

.comment-form {
  min-width: 500px;
}



figcaption {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  background: transparent;
}

ul{
  padding-left: 0;
  margin:0;
}

@media (max-width: 767px) {
  .comment-form {
    min-width: 260px;
    padding: 0.05rem;
    margin-top: 0.25rem;
  }
}

footer, .navbar {
  width: 100%;
  background-color: rgb(30, 30, 40);
  color: white;
}
.color {
  color: darkorange;
}
.activated{
  color: whitesmoke;
}
.bg-color{
  background-color: rgb(219, 120, 0); ;
}
footer .color{
  font-size: 1rem;
}
/*ARROW TO TOP*/
#return-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: transparent;
  width: 50px;
  height: 50px;
  display: none;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border: 1px solid whitesmoke;
  border-radius: 35px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  top: 1.2rem;
  right: 1rem;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(255, 255, 255, 0.15);
}
#return-to-top:hover i {
  border-color: rgb(65, 197, 255);
  transform: rotate(225deg);
}
.arrow {
  position: relative;
  left: 0.8rem;
  border: solid darkorange;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 10px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}



/* HOMEPAGE */

a h3 {
  color: whitesmoke;
}
.color2{
  color: rgb(65, 197, 255);
}

/* TABLE */
th{
  background-color: rgba(255,140,0,0.75);
  color: #0a0a0a;
}
.table-dark{
  color: whitesmoke;
  background-color: rgba(79, 85, 107, 0.33);
}
table.table-bordered > thead > tr > th{
  border:1px solid rgba(200, 200, 200, 0.75);
}
.table-dark td {
  border-color: rgba(200, 200, 200, 0.75);
}
.note {
  color: rgba(200, 200, 200, 0.75);
}

/* comment manager page */
.underline_magic {
  background-image: linear-gradient(120deg, rgba(0,0,255,0.33) 10%, darkorange  100%);
  background-repeat: no-repeat;
  background-size: 100% 0.05em;
  background-position: 0 100%;
  transition: background-size 0.25s ease-in;
}
.underline_magic:hover {
   background-size: 100% 90%;
 }
.no-space {
  padding-right: 2px;
  padding-left: 2px;
}
.btn-outline-secondary{
  color: whitesmoke;
}
.page-item.active .page-link {
  background-color: darkorange;
  border-color: darkorange;
}

.hide, main ul li::before {
  display: none!important;
}
ul .pagination{
  border-radius: unset;
}
input.form-control, textarea.form-control, .cookie{
  border: 2px solid darkorange;
  border-radius: 0;
  color: whitesmoke;
  font-size: 0.85rem;
}
nav form input.form-control:hover{
  border: 1px solid rgb(65, 197, 255);
}
.cookie p{
  margin: 0;
}



