input.form-control, select.form-control{
  border: 1.5px solid #23272b;
  border-bottom: none;
  border-right: none;
  border-radius: 0.15rem;
  background-color: whitesmoke;
  color: #797979;
  font-size: 0.85rem;
}
.input-group-append{
  background-color: whitesmoke;
  border-top: 1.5px solid #23272b;
  color: darkorange;
  line-height: 1.5;
}
.border-none, .border-none:hover{
  border: none;
  background-image: none;
}
.btn-light:hover {
  color: #3296b4;
  background-color: whitesmoke;
}
nav form input.form-control:hover{
  border: 1px solid #3296b4;
}

.position{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(219, 120, 0);
}