input.form-control{
  border: 1.5px solid #23272b;
  border-bottom: none;
  border-right: none;
  border-radius: 0.15rem;
  background-color: whitesmoke;
  color: #0a0a0a;
  font-size: 0.85rem;
}
.input-group-append{
  background-color: whitesmoke;
  border-top: 1.5px solid #23272b;
  color: darkorange;
  line-height: 1.5;
}
.border-none, .border-none:hover{
  border: none;
  background-image: none;
}
.btn-light:hover {
  color: blue;
  background-color: whitesmoke;
}
nav form input.form-control:hover{
  border: 1px solid blue;
}
.alert-danger{
  background: red;
  color: whitesmoke;
}
.alert{
  border-radius: unset;
  padding: 0.5rem 0.85rem;
}
.alert-success{
  background-color: #3296b4;
  color: whitesmoke;
}
.position{
  margin-top: 8rem;
  background-color: rgb(219, 120, 0);
}