{% extends 'base.html.twig' %}

{% block title %}
    Read {{ title }}
{% endblock %}

{% block body %}

<h1 class="m-5">{{ title }}</h1>

<div class="container">
    <div class="row">

    <p>At the very beginning of our solar system, before there was an Earth, Jupiter or Pluto, a
        massive
        swirling cloud of dust and gas circled the young Sun. The dust particles in this disk
        collided with
        each other and formed into larger bits of rock. This process continued until they reached
        the size
        of boulders. Eventually this process of accretion formed the planets of our solar
        system.</p>
    <p>Billions of small space rocks never evolved. Amazingly, many of these mysterious worlds have
        been
        altered very little in the 4.6 billion years since they first formed. Their relatively
        pristine
        state makes the comets, asteroids and some meteors wonderful storytellers with much to share
        about
        what conditions were like in the early solar system. They can reveal secrets about our
        origins,
        chronicling the processes and events that led to the birth of our world. They might offer
        clues
        about where the water and raw materials that made life possible on Earth came from.</p>
    <h4>Current Counts:</h4>
    <ul>
        <li><strong>Known Asteroids:</strong> 957,526</li>
        <li><strong>Known Comets:</strong> 3,611</li>
    </ul>
    <h4>Robotic Exploration</h4>
    <p>NASA's robotic spacecraft allow us to visit comets, asteroids, and dwarf planets up close,
        and even bring back samples to study. We are just beginning to figure out what these places
        are like, what they are made of, and how they formed.</p>
    <h4>Raw Materials for Life?</h4>
    <p>Comets and asteroids probably delivered some of the water and other ingredients that allowed
        the complex chemistry of life to begin on Earth. The amino acid glycine was discovered in
        the comet dust returned to Earth by the Stardust mission. Glycine is used by living
        organisms to make proteins. The discovery supports the theory that some of life's
        ingredients formed in space and were delivered to Earth long ago by meteorite and comet
        impacts.</p>
    <p>Like forensic detectives, scientists follow clues about what happened when the solar system
        was young to piece together the story of our origins. What we learn will also teach us about
        systems of planets around other stars, and how life might develop there as well.</p>
    </div>
</div>

<div class="container">
    <div class="row">

    <h3>Comments ({{ comments|length }})</h3>

    <ul>
        {% for comment in comments %}
            <li>{{ comment }}</li>
        {% endfor %}
    </ul>
    </div>

</div>

{% endblock body %}